body {
	color: #fff;
	background: #171e22 url('../images/ds3art.png') no-repeat top/cover;
}

a {
	color: #c4d71f;
}

a:hover {
	color: #f0f0f0;
}

/**
 * Header styling
 */
.header-bg {
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0;
}

.navbar-brand {
	color: #fff;
	font-size: 2.4em;
	padding: 0;
	height: auto;
}

.navbar-brand:hover {
	color: inherit;
}

.navbar-nav > li > a {
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: 25px 15px;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
	color: #c4d71f;
	background: rgba(0, 0, 0, 0.6);
}

.search-nav {
	padding: 6px 0;
}

.search-nav a {
	margin: 0 5px;
}

.carousel-inner {
	max-height: 420px;
	border-bottom: 3px solid #c4d71f;
}

/**
 * Content
 */
.platform {
	padding: 0 10px 10px;
	margin: 2px 0;
	border-radius: 4px;
	background: #273138;
	border: 1px solid #313d46;
}

.widget-title{
	display: -webkit-flex;
	display: flex;
}

.widget-title:before, .widget-title:after {
	content: '';
	display: block;
	border-bottom: 4px solid;
	transform: translateY(-10px);
	-webkit-flex: 100;
	flex: 100;
}

.widget-title:before {
	border-bottom-color: white;
	flex: 20px;
	width: 20px;
	min-width: 20px;
}

.widget-title > span {
	flex: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.modal-content {
	background: #273138;
	border-radius: 0;
}

.modal-header {
	border-bottom: 0;
}

.modal-header .close {
	color: #6b8799;
	text-shadow: none;
}

/**
 * Forms
 */
label {
	font-weight: lighter;
}

input[type="text"], input[type="password"] {
	background: none;
	border: 1px solid #6b8799;
	border-radius: 0;
}

/**
 * Footer
 */
.copyright-footer {
	background: black;
	padding: 20px 0 10px;
}